@import "tailwindcss";

@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@import "@fontsource/nunito/400.css";
@import "@fontsource/nunito/500.css";
@import "@fontsource/nunito/600.css";
@import "@fontsource/nunito/700.css";

@import "@fontsource-variable/plus-jakarta-sans";


@import "@fontsource/plus-jakarta-sans/400.css";
@import "@fontsource/plus-jakarta-sans/500.css";
@import "@fontsource/plus-jakarta-sans/600.css";
@import "@fontsource/plus-jakarta-sans/700.css";


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

:root {
  --primary: #1E3A8A;
  --secondary:  #fe7b00;
  --dark-secondary: #cb6404;
  --background: #F8FAFC;
  --surface: #FFFFFF;
}

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-poppins: "Poppins";
    --font-nunito: "Nunito";
    --font-jakarta: "Plus Jakarta Sans Variable";

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-dark-secondary: var(--dark-secondary);
    --color-background: var(--background);
    --color-surface: var(--surface);
}

@layer base {
  button:not(:disabled) {
    cursor: pointer;
  }

  p{
    font-family: "Nunito";
  }
}

.swal2-action-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 0.875rem;
    transition: background-color 0.2s;
}